.log-in-box {
  max-width: 600px;
  padding: 48px 48px 60px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
}
.log-in-box_layout {
  margin: 0 auto;
}
.log-in-box__h1 {
  margin: 0;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-bottom: 48px;
  color: #515151;
}
.form-log-in__input {
  height: 46px;
  width: 100%;
  background: #f1f1f1;
  color: #4f4f4f;
  border: 1px solid transparent;
  text-indent: 20px;
  border-radius: 4px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  font-family: "GothamProMedium";
  outline: none;
}
.form-log-in__input::placeholder {
  color: #a0a0a0;
  font-size: 16px;
  line-height: 19px;
  font-family: "GothamProRegular";
}
.form-log-in__input:last-of-type {
  margin-bottom: 0px;
}
.form-log-in__button {
  display: block;
  background: #ed4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  width: 146px;
  height: 48px;
  margin: 47px auto 0;
  border: 0;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.35s ease;
  letter-spacing: 1.5px;
  outline: none;
}
.form-log-in__button:hover {
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(237, 65, 89, 0.4);
  color: #ed4159;
  transition: all 0.35s ease;
}
.form-log-in__button:active {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(237, 65, 89, 0.5);
  color: #ed4159;
  transition: all 0.35s ease;
}
.input-validator-error {
  border: 1px solid #ed4159;
  color: #ed4159;
}
.input-validator-error:active {
  border: 1px solid #ed4159;
  color: #ed4159;
}
.input-validator-error:-webkit-autofill {
  -webkit-text-fill-color: #ed4159;
}
.input-validator-error:-webkit-autofill:focus {
  -webkit-text-fill-color: #ed4159;
}
.log-in-error-message {
  display: flex;
  align-items: center;
  min-height: 40px;
  margin: 32px auto 0px;
  padding: 0px 16px;
  background: rgba(237, 65, 89, 0.25);
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: #ed4159;
}

/* block with result*/

.log-in-box-result {
  max-width: 600px;
  margin: -34px auto 0;
  padding: 48px 48px 60px;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
}
.persone-photo {
  width: 128px;
  height: 128px;
  margin: 0 auto 39px;
  border: 1px solid #979797;
  border-radius: 50%;
  overflow: hidden;
}
.persone-photo__img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.persone-name {
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 0.233333px;
  color: #515151;
  margin-bottom: 55px;
}
.button-logout {
  display: block;
  background: #ed4159;
  box-shadow: 0px 4px 16px rgba(237, 65, 89, 0.4);
  border-radius: 100px;
  color: #fff;
  width: 154px;
  height: 48px;
  margin: 0 auto;
  border: 0;
  outline: none;
  cursor: pointer;
}
.button-logout:hover {
  background: #ffffff;
  box-shadow: 0px 6px 20px rgba(237, 65, 89, 0.4);
  color: #ed4159;
  transition: all 0.35s ease;
}
.button-logout:active {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(237, 65, 89, 0.5);
  color: #ed4159;
  transition: all 0.35s ease;
}

/* Start @media screen */

@media screen and (max-width: 1600px) {
  .log-in-box_layout {
    margin: 0 auto 105px;
  }
}
@media screen and (max-width: 1440px) {
  .log-in-box {
    max-width: 500px;
    padding: 38px 38px 40px;
  }
  .log-in-box-result {
    max-width: 500px;
    margin: 0 auto 105px;
    padding: 38px 38px 40px;
  }
  .log-in-box__h1 {
    margin: 0 0 35px;
  }
  .form-log-in__input {
    margin-bottom: 26px;
  }
  .form-log-in__input:last-of-type {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 768px) {
  .log-in-box {
    max-width: 450px;
    width: 85%;
  }
  .log-in-box-result {
    max-width: 450px;
    width: 85%;
  }
  .form-log-in__button {
    margin: 41px auto 0;
  }
  .error-message {
    margin-top: 24px;
  }
}
@media screen and (max-width: 480px) {
  .persone-photo {
    width: 86px;
    height: 86px;
    margin: 0 auto 21px;
  }
  .log-in-box {
    width: 85%;
    min-width: 288px;
    padding: 32px 25px 48px;
  }
  .log-in-box-result {
    width: 85%;
    min-width: 288px;
    padding: 32px 24px 48px;
  }
  .log-in-box__h1 {
    margin: 0px 0 33px;
    font-size: 19px;
    line-height: 23px;
    letter-spacing: 0.5px;
  }
  .log-in-error-message {
    font-size: 12px;
    margin: 22px auto 0px;
    padding: 0px 14px;
  }
  .persone-name {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 39px;
  }
  .button-logout {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.4px;
  }
  .form-log-in__input {
    margin-bottom: 24px;
  }
  .form-log-in__input {
    height: 44px;
    text-indent: 15px;
  }
  .form-log-in__input:last-of-type {
    margin-bottom: 0px;
  }
  .form-log-in__input::placeholder {
    color: #a0a0a0;
    font-size: 15px;
    letter-spacing: 0.6px;
  }
}
