.app {
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  display: block;
  width: 182px;
  height: 40px;
  margin: 43px auto 0px;
}
.body {
  border-radius: 8px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 32px 24px;
  box-sizing: border-box;
  margin-top: 37px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-top: 142px;
    width: 315px;
    height: 69px;
  }

  .body {
    padding: 48px;
    margin-top: 91px;
  }
}
