body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "GothamProMedium";
  src: url("fonts/GothamProMedium/GothamProMedium.eot");
  src: url("fonts/GothamProMedium/GothamProMedium.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "GothamProRegular";
  src: url("fonts/GothamProRegular/GothamProRegular.eot");
  src: url("fonts/GothamProRegular/GothamProRegular.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
html,
body {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
}
body {
  font-family: "GothamProMedium";
  margin: 0;
  padding: 0;
  min-width: 320px;
}
.background-log-in {
  min-height: 100vh;
  background-image: url(img/background.jpg);
  background-position: top center;
  background-size: cover;
  box-sizing: border-box;
  margin: -1px auto;
  padding-top: 1px;
  padding-bottom: 1px;
}
