.user {
}

.user__avatar {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.user__name {
  opacity: 0.8;
  font-family: Gotham, sans-serif;
  font-size: 18px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #262626;
  display: block;
  margin-top: 24px;
}

.user__logout {
  min-width: 145px;
  margin-top: 40px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .user__avatar {
    width: 128px;
    height: 128px;
  }

  .user__name {
    font-size: 28px;
    margin-top: 40px;
  }

  .user__logout {
    margin-top: 56px;
  }
}
